
body {
  margin: 0;
  text-align: center;
  position: relative;
  height: 100vh;
  cursor: url('../images/meloncursor.png'), auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Aladin', cursive;
  font-size: 5rem;
  color: #FF6701;
  line-height: 2;
}

h2 {
  font-family: 'Mulish', sans-serif;
  font-size: 2.3rem;
  color: #FF6701;
  font-weight: bold;
}

h3 {
  font-family: 'Mulish', sans-serif;
  color: #FF6701;
  font-size: 1.4rem;
}

p {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.footer-link {
  color: #598579;
  margin: 20px 50px 20px auto;
  font-family: 'Mulish', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;

}
.footer-link2 {
   color: #598579;
  margin: 20px auto 20px 50px;
  font-family: 'Mulish', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

.portrait {
  margin-top: 430px;
  margin-bottom: 80px;
  font-family: 'Aladin', cursive;
  font-size: 5.5rem;
}

.email {
  border-radius: 100%;
  margin-top: 150px;
  margin-bottom: 2px;
}

.top-container {
  background-color: #FFC996;
  position: relative;
  padding-top: 105px;
  padding-bottom: 305px;
}

.middle-container {
  background-color: white;

}

.bottom-container {
  background-color: #FFC996;
  position: relative;
  padding-top: 100px;


}

.web {
  text-decoration: underline;
}

.sitting {
  position: absolute;
}

.skill-row {
  margin: 100px auto 200px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.webdeveloper {
  color: #FF6701;
}
.getin {
  margin: 50px auto 50px auto;

}
.ready {
  margin: 50px auto 50px auto;
  font-weight: bold;

}
.chat {
  margin: 50px auto 100px auto;
  font-size: 1.4rem;
}
.code-img {
  width: 20%;
  float: left;
  padding-right: 30px;
  margin-bottom: 10px;
}

.problem-img {
  width: 20%;
  float: right;
  padding-right: 30px;
}
.btn {

  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #e09500;
  font-size: 25px;
  background: #ffe97a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 50px;
}

.btn:hover {
  background: #ffc0a3;
  text-decoration: none;
  margin-bottom: 30px;
}
.skills {
  margin-top: 200px;
}
.wdt {
  font-size: 1.5rem;
}
.contact-me {
  margin: 50px auto 200px auto;
}
.profile {
margin-top: 300px;
}
.end {
  margin: 80px auto 50px auto;
  padding-bottom: 80px;
  font-family: arial;
}
